{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}
{% block content %}
<body>  
  <div class="container">
  
  <h2 class="text-center">PITCH COMMENTS</h2>
  
    <div class="row">
   
       <div class="col-md-4" > 
        <div class="card-columns" >
          {% for category in pitches %}

          <div class="card bg-transparent border-success" style="text-align: center;" >
            <div class="card-header bg-transparent border-success">
              {{category.title}}
            </div>
            <div class="card-body text">
                <p>{{category.pitch}}</p><br>
                <footer class="blockquote-footer bg-transparent border-success">{{category.username}}<br>
                  
            </div>
            <div class="card-footer bg-transparent border-success">
                <button type="button" class="btn btn-success btn-sm"  ><a href="/new_comment/{{category.id}}">Comment</a></button> 
                <button type="button" class="btn btn-success btn-sm" ><a href="/comments/{{category.id}}">View Comments</a></button>
              </div>
             
            </div>
            {% endfor %}
          </div>
    </div>
  </body>
{% endblock %}
       