{% extends 'base.html'%} {% import "bootstrap/wtf.html" as wtf %} {% block
    styles%} {{ super() }}
    <link rel="stylesheet" href="../static/css/index.css" />
    {% endblock %} {% block content %}
    <body>
      <br /><br />
      <br />
      <div class="container">
        <h3 style="text-align: center;">View New Comments</h3>
        <p>{{comments |length}}</p>
        {% for comm in comments %}
        <div class="col-sm">
          <div class="well well-lg p-3" id="card" style="text-align: center">
            
            <hr />
            
          <div class="card col-sm mt-2">
            
              <h4 class="card-title">{{comm.comment_id }}</h4>
              <p class="card-text">{{comm.pitch_comment}}.</p>
              <div class="card-footer bg-transparent border-success">
                <small
                  >Publish date:{{comm.posted.strftime('%Y-%m-%d')}}</small
                >
              </div>
              
            </div>
            <br>
            <div style="text-align: center;">
              <button class="social-like" >
                <span class="like"><i class="glyphicon glyphicon-thumbs-up"></i></span>
                <span class="count" >0</span>
            </button>
               &nbsp;
            <button class="social-dislike" >
                <span class="dislike" >0</span>
                <span class="like"><i class="glyphicon glyphicon-thumbs-down"></i></span>
           </button>
          </div>
          </div>
          
        
        </div>
       
          {% endfor %} 
        </div>
      </div>
    </body>
    
    {% endblock %}